.places {
  color: #fff;
  padding-top: 92px;
}

@media screen and (max-width: 768px) {
  .places {
    padding-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding-top: 64px;
  }
}
