.lead {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 984px;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: calc(100% - 2*48px);
    padding-top: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
    padding-bottom: 64px;
  }
}
