.header {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  width: calc(100% - 2*48px);
  margin: 0 auto;
  margin-top: 28px;
}

@media screen and (max-width:1024px) {
  .header {
    max-width: 924px;
    width: calc(100% - 2*48px);
  }
}

@media screen and (max-width:768px) {
  .header {
    max-width: 720px;
    width: calc(100% - 2*24px);
  }
}

@media screen and (max-width:320px) {
  .header {
    max-width: 288px;
    width: calc(100% - 2*16px);
  }
}
