.lead__title {
  max-width: 720px;
  align-self: center;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  font-style: normal;
  margin: 0;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 12.5vw;
    line-height: 104%;
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}
