.lead__image {
  width: 100%;
  max-height: 615px;
  margin-top: 64px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 100%;
    max-height: 580px;
    margin-top: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 100%;
    max-height: 615px;
    margin-top: 56px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    margin-top: 40px;
  }
}
