.cover__overlay {
  width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/cover/cover__background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  text-decoration: none;
  margin: 0;
  color: #fff;
}

.cover__overlay::before {
  content: '';
  background-color: rgba(42, 44, 47, .3);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: background-color .4s ease;
}

.cover__overlay:hover::before {
  background-color: rgba(42, 44, 47, .8);
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 540px) {
  .cover__overlay {
    min-height: 290px;
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    min-height: 200px;
  }
}
