.lead__caption {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    margin: 0;
    padding: 8px 0 0 0;
    align-self: flex-start;
    color: #fff;
    text-transform: uppercase;
}


@media screen and (max-width: 768px) {
    .lead__caption {
        padding: 8px 0 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .lead__caption {
        padding: 8px 0 0 16px;
    }
}