.cover__title {
    max-width: 560px;
    text-align: center;
    padding-bottom: 32px;
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06; 
    z-index: 1;
}

@media screen and (max-width: 540px) {
	.cover__title {
		max-width: 288px;
		padding-bottom:16px;
		font-size: 32px;
		line-height: 35px;
	}
}

