.place__website {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

@media screen and (max-width: 768px) {
  .place__website {
    width: calc(100% - 2*16px);
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    margin-left: 16px;
  }
}